<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>importConfigs</key>
	<dict>
		<key>garageband</key>
		<dict>
			<key>catalog</key>
			<string>testing</string>
			<key>category</key>
			<string>Audio</string>
			<key>developer</key>
			<string>Apple</string>
			<key>displayNamePrefex</key>
			<string>GB_</string>
			<key>unattendInstall</key>
			<true/>
			<key>updateFor</key>
			<string>com.github.carlashley.appleLoops.app.garageband</string>
		</dict>
		<key>logicpro</key>
		<dict>
			<key>catalog</key>
			<string>testing</string>
			<key>category</key>
			<string>Audio</string>
			<key>developer</key>
			<string>Apple</string>
			<key>displayNamePrefex</key>
			<string>LP_</string>
			<key>unattendInstall</key>
			<true/>
			<key>updateFor</key>
			<string>com.github.carlashley.appleLoops.app.logic-pro</string>
		</dict>
		<key>mainstage</key>
		<dict>
			<key>catalog</key>
			<string>testing</string>
			<key>category</key>
			<string>Audio</string>
			<key>developer</key>
			<string>Apple</string>
			<key>displayNamePrefex</key>
			<string>MS_</string>
			<key>unattendInstall</key>
			<true/>
			<key>updateFor</key>
			<string>com.github.carlashley.appleLoops.app.mainstage</string>
		</dict>
	</dict>
    <key>pkgsinfoPath</key>
    <string>pkgsinfo/upd/garageband1012</string>
	<key>import_destination</key>
    <string>pkgs/upd/garageband1012</string>
	<key>munkiRepoPath</key>
	<string>/Volumes/munki_repo</string>
	<key>munkiimportPath</key>
	<string>/usr/local/munkiimport</string>
</dict>
</plist>
